registry=https://registry.npmjs.org/

# Use Nexus only for @tts scoped packages (your private/internal packages)
@tts:registry=http://3.135.201.113:8081/repository/npm-hosted/

# Nexus authentication
//3.135.201.113:8081/repository/npm-hosted/:username=admin
//3.135.201.113:8081/repository/npm-hosted/:_password=YWRtaW4=
//3.135.201.113:8081/repository/npm-hosted/:email=admin@example.com

always-auth=true
